In [2]:
import sqlite3
# con= sqlite3.connect('파일 이름을 작성하면 된다.')

##### C(Create), R(Read), U(Update), D(Delete) 4가지 명령어로 통제

In [93]:
# con=sqlite3.connect("D:\DBBroswer\SQLITE-STUDY")
# cursor=con.cursor()

In [14]:
con=sqlite3.connect("Stock_data.db") #sqlite를 통해 db 파일과 연결/ 없으면 생성
con.execute("CREATE TABLE stock_data(H integer,integer,O integer,C integer)") # H,L,O,C 칼럼을 가진 테이블 생성
cursor=con.cursor() #커서 생성

In [19]:
con=sqlite3.connect("Stock_data.db")
cursor=con.cursor()
cursor.execute("INSERT INTO Stock_data VALUES('90000','88000','87000','92000')")
con.commit()
con.close()

In [22]:
con=sqlite3.connect("Stock_data.db")
cursor=con.cursor()
con.execute("INSERT INTO Stock_data VALUES('Kakao','95000','90000','90000','97000')")
con.commit()
con.close()

OperationalError: table Stock_data has 4 columns but 5 values were supplied

### 오류해결후 다시 시도

In [2]:
import sqlite3
con=sqlite3.connect("Stock_OHLC.db") #Stock info 라는 db 파일을 생성,연결
#con.execute("CREATE TABLE Stock_OHLC(Stock_name,O,H,L,C)") #테이블 생성/ 밸류 이름들은 고칠 수 없으니 잘 할 것
con.commit()
cursor = con.cursor()
#항상 execute 하면 commit하기

In [3]:
cursor.execute("INSERT INTO Stock_OHLC VALUES('Samsung','90000','88000','87000','92000')") #스톡 인포에 다음과 같은 벨류들을 insert\
con.commit()
cursor.execute("INSERT INTO Stock_OHLC VALUES('Kakao','95000','90000','90000','97000')")
con.commit()

In [4]:
cursor.execute("INSERT INTO Stock_OHLC VALUES('LG','100000','110000','100000','110000')")
con.commit()

In [5]:
cursor.execute("SELECT * FROM Stock_OHLC") #전부 선택한거
a=cursor.fetchall() #fetchone()은 한줄, fetchall()는 전부, fetchmany(size=x)는 x줄 읽기
con.commit()
print(a)
con.close()

[('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000'), ('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000'), ('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000')]

In [6]:
con=sqlite3.connect("Stock_OHLC.db") #close를 해버리면 다시 폴더를 열때 이렇게 connect를 해줘야 한다
cursor = con.cursor()
cursor.execute("SELECT * FROM Stock_OHLC") #전부 선택한거
a=cursor.fetchall() #fetchone()은 한줄, fetchall()는 전부, fetchmany(size=x)는 x줄 읽기
con.commit()
print(a)
con.close()

[('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000'), ('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000'), ('Samsung', '90000', '88000', '87000', '92000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000')]

In [7]:
con=sqlite3.connect("Stock_OHLC.db") #close를 해버리면 다시 폴더를 열때 이렇게 connect를 해줘야 한다
cursor = con.cursor()
cursor.execute("DELETE FROM Stock_OHLC WHERE Stock_name=?",('Samsung',))
con.commit()
con.close()

In [10]:
con=sqlite3.connect("Stock_OHLC.db") #close를 해버리면 다시 폴더를 열때 이렇게 connect를 해줘야 한다
cursor = con.cursor()
cursor.execute("SELECT * FROM Stock_OHLC")
cursor.fetchall()
con.commit()
con.close()

In [12]:
con=sqlite3.connect("Stock_OHLC.db") #close를 해버리면 다시 폴더를 열때 이렇게 connect를 해줘야 한다
cursor = con.cursor()
cursor.execute("SELECT * FROM Stock_OHLC")
a=cursor.fetchall()
print(a)
con.commit()
con.close()

[('Kakao', '95000', '90000', '90000', '97000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000'), ('Kakao', '95000', '90000', '90000', '97000'), ('LG', '100000', '110000', '100000', '110000')]

### 정리

#### con은 말 그대로 connection. db파일과 python 프로그램을 연결해주는 코드. 즉, execute를 하려면 cursor 를 이용해서 해야함

#### C-> CONNECT/ , R-> SELECT FROM/, U-> INSERT INTO/, D-> DELETE FROM

#### 각 execute 마다 con.commit()과 con.close()를 해주어야 한다 -> close를 한 데이터를 이어서 쓸 떈 connect, cursor 부여 다시 해주고 시작해야함.

#### data가 lock에 걸렸을 떈 다시 껐다가 키면 됨